.comment-container {
    display: flex;
    flex-direction: column;
    color: black;
}

.comment-title {
    padding: 3em 0 1.6em 2em;
    color: black;
    border-bottom: 3px solid black;
}

.comment-list {
    display: flex;
    flex-direction: column;
    margin: 2.6em 2vw 0 2vw;
    color: black;
}

.comment-list {
    list-style: none;
    gap: 1em;
}

.comment-item,
.comment-form {
    display: flex;
    min-height: 50px;
    gap: 1em;
}

.comment-author {
    width: 8em;
}

.comment-content,
.comment-form-content {
    resize: none;
    flex-grow: 1;
    margin: 0 0 0 1em;
}

.comment-date {
    width: 8em;
}

.comment-form .comment-author {
    width: 8em;
}

.comment-form .comment-submit,
.comment-edit-submit {
    width: 10em;
}