
.login-container {
    width: 500px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    margin: 0 auto; /* 수평 가운데 정렬을 위한 추가 */
}
.login-container h2 {
    text-align: center;
}
.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login-form input {
    padding: 8px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}
.login-form button {
    padding: 10px;
    background-color: #43e679;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.login-form button:hover {
    background-color: #42c228;
}
.signup-link {
    text-align: center;
    margin-top: 10px;
}
.signup-link a {
    text-decoration: none;
    color: #43e679;
}